*
{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.main
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.picker
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.canvas
{
    
    border: 1px solid black;
}
.settings
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
input,select,.bg-color-picker,.text-color-picker,.font-size
{
    width: 80%;
}
button
{
    width: 80%;
}
.settings>button
{
    margin: 10px;
}
p
{
    margin: 10px auto;
    width: 50%;
}


*
{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.main
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.picker
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.canvas
{
    
    border: 1px solid black;
}
.settings
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
input,select,.bg-color-picker,.text-color-picker,.font-size
{
    width: 80%;
}
button
{
    width: 80%;
}
.settings>button
{
    margin: 10px;
}
p
{
    margin: 10px auto;
    width: 50%;
}

